<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.penginpenpen.kbglow</string>
	<key>CFBundleName</key>
	<string>kbglow</string>
	<key>CFBundleVersion</key>
	<string>0.1.0</string>
	<key>NSAudioCaptureUsageDescription</key>
	<string>kbglow lights your keyboard backlight in sync with system audio.</string>
</dict>
</plist>
